---
import Layout404 from "../layouts/Layout404.astro";
---

<Layout404 title="Style Nest | 404">
  <main class="w-[90%] mx-auto flex flex-col items-center justify-center mt-32">
    <div class="text-center">
      <h2 class="text-6xl font-bold">Page not found</h2>
      <p class="text-2xl mt-8">
        A little lost? Let's try again right from the <a
          class="hover:underline cursor-pointer text-primary-green"
          href="/">start</a
        >
      </p>
    </div>
    <img class="w-[500px] mt-8" src="./src/assets/OIP18.png" alt="404" />
  </main>
</Layout404>
