---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome.">
	<header class="w-[90%] mx-auto mt-8">
		<h1 class="text-7xl font-medium text-secondary-black text-center  " >No commitments, just <span class="text-primary-green font-semibold">add</span> some <span class="text-primary-green font-semibold"> items</span>.</h1>
	</header>
</Layout>

