---
import Layout from "../layouts/Layout.astro";
import CategoryCatalog from "@/components/CategoryCatalog.astro";
import CardItem from "@/components/CardItem.astro";
import Greeting from "@/components/Greeting";
import { Image } from "astro:assets";
---

<Layout title="Style Nest | Get started." description="Nuestro comercio">
  <header
    class="w-[90%] mx-auto mt-[200px] flex items-center justify-between"
    p-8
  >
    <div class="flex-1">
      <Greeting client:load />
      <h1
        class="text-6xl font-semibold text-secondary-black text-left text-balance ml-8"
      >
        No commitments, just <span class="text-primary-green font-bold"
          >add</span
        >
        some <span class="text-primary-green font-bold"> items</span>.
      </h1>

      <p class="text-2xl text-secondary-black text-left font-medium mt-6 ml-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit
      </p>
    </div>
    <!-- le damos una rotacion en loop a la imagen -->
    <Image
      class="bg-[#dfdcdc34] rounded-full"
      src="/OIP14.png"
      alt="myNFT"
      width={500}
      height={500}
      loading={"eager"}
    />
  </header>

  <section class="w-[90%] mx-auto">
    <h2 class="text-2xl font-semibold text-secondary-black text-left mt-8 ml-8">
      <a href="/search" class="hover:underline cursor-pointer"
        >visit our catalog ></a
      >
    </h2>

    <div id="nft-shop" class="py-0 px-8 mt-8">
      <div id="category" class="flex gap-4">
        <CategoryCatalog>Amazin Product</CategoryCatalog>
        <CategoryCatalog>Incredible items</CategoryCatalog>
        <CategoryCatalog>Unique stock</CategoryCatalog>
        <CategoryCatalog>Unusual objects</CategoryCatalog>
      </div>
      <div
        id="nft-list"
        class="px-0 py-10 flex justify-start gap-5 max-h-auto overflow-x-scroll"
      >
        <CardItem title="NFT11" price="10.00" src="./src/assets/OIG9.jpeg" />
        <CardItem title="NFT11" price="10.00" src="./src/assets/OIG11.jpeg" />
        <CardItem title="NFT11" price="10.00" src="./src/assets/OIG13.jpeg" />
        <CardItem title="NFT11" price="10.00" src="./src/assets/OIG15.jpeg" />
        <CardItem title="NFT11" price="10.00" src="./src/assets/OIG2.jpeg" />
        <CardItem title="NFT11" price="10.00" src="./src/assets/OIG4.jpeg" />
        <CardItem title="NFT11" price="10.00" src="./src/assets/OIG6.jpeg" />
        <CardItem title="NFT11" price="10.00" src="./src/assets/OIG8.jpeg" />
        <CardItem title="NFT11" price="10.00" src="./src/assets/OIG10.jpeg" />
        <CardItem title="NFT11" price="10.00" src="./src/assets/OIG12.jpeg" />
        <CardItem title="NFT11" price="10.00" src="./src/assets/OIG14.jpeg" />
        <CardItem title="NFT11" price="10.00" src="./src/assets/OIG1.jpeg" />
      </div>
    </div>
  </section>
</Layout>
