---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome.">
	<header>
		<h1 class="text-5xl font-bold text-secondary-black text-center  " >No commitments, just <span class="text-primary-green">add</span> some <span class="text-primary-green"> items</span>.</h1>
	</header>
</Layout>

