---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Style Nest | Notifications "
  description="Notificaciones del usuario"
>
  <header class="w-[90%] mx-auto mt-32">
    <h1
      class="text-5xl font-semibold text-secondary-black text-center text-balance"
    >
      New <span class="text-primary-green font-bold">Things</span>!
    </h1>
  </header>

  <section></section>
</Layout>
